{% extends "warehouse_template.html" %}
{% load crispy_forms_tags %}
{% block title %}编辑公司预付费-{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">公司预付费编辑</h3>
                </div>
                <div class="panel-body">
                <div>说明：费用金额可以保留两位小数</div>
                <p></p>
                    <form method="post" action="{% url 'companyfee_edit' id=id %}" role="form">
                        <div class="form-group">
                            <label>要变更预存款金额的公司名称：{{ company.name }}</label>
                            <input type="hidden" name="company_id" value="{{ company.id }}">
                        </div>
                        <div class="form-group">
                            <label>当前余额为:{{ company.prepayment }}</label>
                        </div>
                        <div class="form-group">
                            <label>操作者:{{ user.username }}</label>
                        </div>
                        {{ form | crispy }}
                        <button class="btn btn-default" type="submit">提交</button>
                        {% csrf_token %}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}