{% extends "warehouse_template.html" %}
{% load crispy_forms_tags %}
{% block title %}修改密码-{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">修改密码</h3>
                </div>
                {% if messages %}

                <div id="messages" class="messages">
                    <div class="alert alert-success">
                    {% for message in messages %}
                    <div{% if message.tag %} class="{{ message.tags }}"{% endif %} >{{ message }}</div>
                    {% endfor %}
                    </div>
                </div>

                    <script>
                    setTimeout(
                        function(){
                            document.getElementById("messages").style.display="none";
                            },3000)
                    </script>
                {% endif %}
                <div class="panel-body">
                    <form method="post" action="{% url 'password_change' %}" role="form">
                        {{ form | crispy }}
                        <button class="btn btn-default" type="submit">提交</button>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="panel-footer">
                    修改自己的密码，需要输入旧密码，如果您忘记了原来的密码，请联系管理员进行密码重置。
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
    .errorlist{
        background-color: #f0ad4e !important;
    }
    </style>
{% endblock %}