{% extends "warehouse_template.html" %}
{% load staticfiles %}
{% block title %}编辑预报运单类别-{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">预报运单编辑</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{% url 'transorder_check_edit' id=id %}" role="form">
                        <div class="form-group help-block">
                            <p>运单所属公司：{{ data.company }}</p>
                            <p>预计到达时间：{{ data.date_arrive }}</p>
                            <p>运单状态：{{ data.get_status_trans_display }}</p>
                            <p>目标仓库：{{ data.depot }}</p>
                            <p>运输公司：{{ data.transport_firm }}</p>
                            <p>货运单号：{{ data.transport_code }}</p>
                            <p>货物总估值：{{ data.value_all }}</p>
                            <p>运单备注：{{ data.remark }}</p>
                            <p>运单包含的货物清单：</p>
                        </div>
                        <table class="table">
                        <thead>
                        <tr>
                            <td>序号</td>
                            <td>SKU名称</td>
                            <td>客户SKU编码</td>
                            <td>SKU重量</td>
                            <td>SKU体积</td>
                            <td>库位</td>
                            <td>预报到货数量</td>
                            <td>核对数量</td>
                            <td>修改SKU信息及库位分配</td>
                        </tr>
                        </thead>
                        <tbody>
                        {{ formset.management_form }}
                            {% for form in formset %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {% for item in pre_data %}
                                        {% if forloop.counter == forloop.parentloop.counter %}
                                            <td>{{ item.sku.name }}</td>
                                            <td>{{ item.sku.code }}</td>
                                            <td>{{ item.sku.weight }}</td>
                                            <td>{{ item.sku.volume }}</td>
                                            <td>{{ item.get_unit }}</td>
                                        {% endif %}
                                    {% endfor %}
{#                                预报货物隐藏信息#}
                                    {% for field in form.hidden_fields %}
                                     {{ field }}
                                    {% endfor %}
{#                                预报货物数量信息#}
                                    {% for field in form.visible_fields %}
                                        <td>{{ field }}</td>
                                    {% endfor %}
{#                                跳转修改SKU#}
                                     {% for item in pre_data %}
                                        {% if forloop.counter == forloop.parentloop.counter %}
                                    <td>
                                        <a href="{% url 'sku_check_again' sku_id=item.sku.id trans_id=id%}">
                                            <button type="button" class="btn btn-primary">编辑SKU信息</button>
                                        </a>
                                    </td>
                                         {% endif %}
                                     {% endfor %}

                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>

                        <div>
                            <label>请输入运单核对说明：</label>
                            <textarea id='id_check' name='check' class="form-control">{{ data.check }}</textarea>
                        </div>
                        <p></p>
                        <div>
                            <input type="hidden" name="back" value="{{ back}}" />
                        <button class="btn btn-primary" type="submit">运单核对完成</button>
                        </div>
                        {% csrf_token %}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}