{% extends "warehouse_template.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}销售情况查询-{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">销售情况查询</h3>
                </div>
                <div class="panel-body">
                    <p>您设定的低库存报警阈值为：{{ quantity }}</p>
                    <p>所有正常库存低于该值的SKU如下：</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>SKU代码</td>
                                <td>SKU名称</td>
                                <td>SKU正常可用数量</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sku in result %}
                            <tr><td>{{ sku.code }}
                        <!-- 详情开始 -->
                                            <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal_detail_{{ sku.id }}" style="margin-right: 5px;">详情</button>
                                            <!-- Modal -->
                                                <div class="modal fade" id="myModal_detail_{{ sku.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                         <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">SKU详情</h4>
                                                         </div>
                                                        <div class="modal-body">
                                                            <table class="table">
                                                            <tr>
                                                                <td rowspan="2"><img src="{% static 'media/' %}{{ sku.img | default:'100x75.png' }}" width="100px" height="75px"></td>
                                                                <td><div class="help-block">所属公司：</div>{{ sku.company }}</td>
                                                                <td><div class="help-block">SKU中文名：</div>{{ sku.name }}</td>
                                                                <td><div class="help-block">SKU英文名：</div>{{ sku.name_en }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><div class="help-block">客户SKU代码：</div>{{ sku.code}}</td>
                                                                <td><div class="help-block">雷欧SKU代码：</div>{{ sku.leo_code }}</td>
                                                                <td><div class="help-block">海关申报码：</div>{{ sku.declare_code }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><div class="help-block">SKU类别：</div>{{ sku.get_status_display }}</td>
                                                                <td><div class="help-block">重量(kg)：</div>{{ sku.weight }}</td>
                                                                <td><div class="help-block">体积(m3)：</div>{{ sku.volume }}</td>
                                                                <td><div class="help-block">申报价值(欧元)：</div>{{ sku.price }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><div class="help-block">品类：</div>{{ sku.category }}</td>
                                                                <td><div class="help-block">长度(cm)：</div>{{ sku.length }}</td>
                                                                <td><div class="help-block">宽度(cm)：</div>{{ sku.width }}</td>
                                                                <td><div class="help-block">高度(cm)：</div>{{ sku.height }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td><div class="help-block">近三十天总销量：</div>{{ sku.out_recent_thirty }}</td>
                                                                <td><div class="help-block">近三十天总入库量：</div>{{ sku.in_recent_thirty }}</td>
                                                                <td><div class="help-block">近三十天日均销量：</div>{{ sku.sales_recent_thirty }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <div>
                                                                        <div class="help-block">库存情况：</div>
                                                                        <div>
                                                                            <table class="table table-bordered table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <td>所属仓库</td>
                                                                                        <td>分配库位</td>
                                                                                        <td>正常</td>
                                                                                        <td>待入库</td>
                                                                                        <td>待出库</td>
                                                                                        <td>冻结</td>
                                                                                        <td>缺货</td>
                                                                                        <td>其他</td>
                                                                                        {% if user.is_staff %}
                                                                                            <td>操作</td>
                                                                                        {% endif %}
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                {% for sum in sku.count_set.all %}
                                                                                    <tr>
                                                                                        <td>{{ sum.depot }}</td>
                                                                                        <td>{{ sum.unit }}</td>
                                                                                        <td>{{ sum.normal }}</td>
                                                                                        <td>{{ sum.preparing_in }}</td>
                                                                                        <td>{{ sum.preparing_out }}</td>
                                                                                        <td>{{ sum.freeze }}</td>
                                                                                        <td>{{ sum.short }}</td>
                                                                                        <td>{{ sum.other }}</td>
                                                                                        {% if user.is_staff %}
                                                                                            <td>
                                                                                            <form action="{% url 'sku_count_edit' id=sum.id %}" method="get">
                                                                                            <button type="submit" class="btn btn-primary btn-xs" name='edit' value="edit">编辑</button>
                                                                                            </form>
                                                                                            </td>
                                                                                        {% endif %}
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </table>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-right: 10px;">关闭</button>
                                                        </div>
                                                        </div>
                                                    <!-- /.modal-content -->
                                                    </div>
                                                <!-- /.modal-dialog -->
                                                </div>
                                                <!-- /.modal -->
                                            <!-- 详情结束 -->
                    </td>
                    <td>{{ sku.name }}</td>
                            <td>{{ sku.get_current_normal }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                   低库存SKU的列表
                </div>
            </div>
        </div>
    </div>
{% endblock %}
